*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

p {
  font-family: "Segoe UI";
  color: black;
  font-size: small;
}

header {
  background-color: white;
  position: relative;
  padding: 1rem;
}

nav a {
  color: black;
  

}

nav ul{
  list-style-type: none;
  position: absolute;
  top: 0.7rem;
  right: 1rem;

}

nav li{
  display: inline;
  margin-right: 0.5rem;
}
